.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.imgg{
    display: block;
    width: 50%;
    margin-bottom: 20px;
}
.titlee{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
}
.longdescc{
    display: block;
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-size: 20px;

}